* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "FiraCode Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

window#waybar {
  background-color: rgba(30, 30, 46, 0.99);
  border-bottom: 0px solid rgba(108, 112, 134, 0.5);
  color: #cdd6f4;
  transition-property: background-color;
  transition-duration: 0.5s;
  min-height: 14px;
  font-size: 14px;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
  background-color: #1e1e2e;
}

window#waybar.chromium {
  background-color: #11111b;
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 4px;
}

#workspaces button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #a6e3a1;
  text-shadow: inherit; /* or none */
  border: none;
  outline: none;
}

#workspaces button {
  padding: 0 12px;
  background-color: transparent;
  color: #cdd6f4;
}

#workspaces button.focused,
#workspaces button.active {
  background-color: #a6e3a1;
  box-shadow: inset 0 -3px #cdd6f4;
  color: #1e1e2e;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#mode {
  background-color: #585b70;
  border-bottom: 3px solid #cdd6f4;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#keyboard-state,
#language,
#mpd {
  padding: 4px 10px;
  color: #cdd6f4;
  border-radius: 4px;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  background-color: #89b4fa;
  color: #1e1e2e;
}

#battery {
  background-color: #cdd6f4;
  color: #1e1e2e;
}

#battery.charging,
#battery.plugged {
  color: #1e1e2e;
  background-color: #a6e3a1;
}

@keyframes blink {
  to {
    background-color: #f5e0dc;
    color: #1e1e2e;
  }
}

#battery.critical:not(.charging) {
  background-color: #f38ba8;
  color: #1e1e2e;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #11111b;
}

#cpu {
  background-color: #a6e3a1;
  color: #1e1e2e;
}

#memory {
  background-color: #cba6f7;
  color: #1e1e2e;
}

#disk {
  background-color: #fab387;
  color: #1e1e2e;
}

#backlight {
  background-color: #94e2d5;
  color: #1e1e2e;
}

#network {
  background-color: #89b4fa;
  color: #1e1e2e;
}

#network.disconnected {
  background-color: #f38ba8;
  color: #1e1e2e;
}

#pulseaudio {
  background-color: #f9e2af;
  color: #1e1e2e;
}

#pulseaudio.muted {
  background-color: #6c7086;
  color: #cdd6f4;
}

#wireplumber {
  background-color: #f5c2e7;
  color: #1e1e2e;
}

#wireplumber.muted {
  background-color: #f38ba8;
  color: #1e1e2e;
}

#custom-media {
  background-color: #94e2d5;
  color: #1e1e2e;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #a6e3a1;
  color: #1e1e2e;
}

#custom-media.custom-vlc {
  background-color: #fab387;
  color: #1e1e2e;
}

#temperature {
  background-color: #fab387;
  color: #1e1e2e;
}

#temperature.critical {
  background-color: #f38ba8;
  color: #1e1e2e;
}

#tray {
  background-color: #89b4fa;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #f38ba8;
}

#idle_inhibitor {
  background-color: #313244;
  color: #cdd6f4;
}

#idle_inhibitor.activated {
  background-color: #a6e3a1;
  color: #1e1e2e;
}

#mpd {
  background-color: #94e2d5;
  color: #1e1e2e;
}

#mpd.disconnected {
  background-color: #f38ba8;
  color: #1e1e2e;
}

#mpd.stopped {
  background-color: #6c7086;
  color: #cdd6f4;
}

#mpd.paused {
  background-color: #a6e3a1;
  color: #1e1e2e;
}

#language {
  background: #89dceb;
  color: #1e1e2e;
  min-width: 16px;
}

#keyboard-state {
  background: #a6e3a1;
  color: #1e1e2e;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(88, 91, 112, 0.5);
}

#scratchpad {
  background: rgba(49, 50, 68, 0.5);
}

#scratchpad.empty {
  background-color: transparent;
}
