"$schema" = 'https://starship.rs/config-schema.json'

format = """
[ ](bg:#bfc6e0)\
[ ](bg:#b5bedb)\
[ ](bg:#a3aed2)\
$os\
$username\
[](fg:color_dark5 bg:#769ff0)\
$directory\
[](fg:#769ff0 bg:#394260)\
$git_branch\
$git_status\
[](fg:#394260 bg:color_blue)\
$c\
$rust\
$golang\
$nodejs\
$php\
$java\
$kotlin\
$haskell\
$python\
[](fg:color_blue bg:#1d2230)\
$time\
[ ](fg:#1d2230)\
\n$character"""

palette = 'catppuccin_mocha'

[palettes.tokyonight_moon]
color_bg0 = "#222436"
color_bg_dark = "#1e2030"
color_bg_dark1 = "#191B29"
color_bg_highlight = "#2f334d"
color_blue = "#82aaff"
color_blue0 = "#3e68d7"
color_blue1 = "#65bcff"
color_blue2 = "#0db9d7"
color_blue5 = "#89ddff"
color_blue6 = "#b4f9f8"
color_blue7 = "#394b70"
color_comment = "#636da6"
color_cyan = "#86e1fc"
color_dark3 = "#545c7e"
color_dark5 = "#737aa2"
color_fg0 = "#c8d3f5"
color_fg_dark = "#828bb8"
color_fg_gutter = "#3b4261"
color_green = "#c3e88d"
color_green1 = "#4fd6be"
color_green2 = "#41a6b5"
color_magenta = "#c099ff"
color_magenta2 = "#ff007c"
color_orange = "#ff966c"
color_purple = "#fca7ea"
color_red = "#ff757f"
color_red1 = "#c53b53"
color_teal = "#4fd6be"
color_terminal_black = "#444a73"
color_yellow = "#ffc777"

[palettes.catppuccin_mocha]
color_bg0 = "#1e1e2e"
color_bg_dark = "#11111b"
color_bg_dark1 = "#181825"
color_bg_highlight = "#313244"
color_blue = "#89b4fa"
color_blue0 = "#74c7ec"
color_blue1 = "#89b4fa"
color_blue2 = "#89dceb"
color_blue5 = "#b4befe"
color_blue6 = "#89dceb"
color_blue7 = "#45475a"
color_comment = "#6c7086"
color_cyan = "#94e2d5"
color_dark3 = "#585b70"
color_dark5 = "#7f849c"
color_fg0 = "#cdd6f4"
color_fg_dark = "#bac2de"
color_fg_gutter = "#45475a"
color_green = "#a6e3a1"
color_green1 = "#94e2d5"
color_green2 = "#89dceb"
color_magenta = "#f5c2e7"
color_magenta2 = "#eba0ac"
color_orange = "#fab387"
color_purple = "#cba6f7"
color_red = "#f38ba8"
color_red1 = "#eba0ac"
color_teal = "#94e2d5"
color_terminal_black = "#585b70"
color_yellow = "#f9e2af"

[os]
disabled = false
style = "bg:color_dark5 fg:color_fg0"
format = '[ $symbol]($style)'

[os.symbols]
Windows = "󰍲"
Ubuntu = "󰕈"
SUSE = ""
Raspbian = "󰐿"
Mint = "󰣭"
Macos = "󰀵"
Manjaro = ""
Linux = "󰌽"
Gentoo = "󰣨"
Fedora = "󰣛"
Alpine = ""
Amazon = ""
Android = ""
Arch = "󰣇"
Artix = "󰣇"
CentOS = ""
Debian = "󰣚"
Redhat = "󱄛"
RedHatEnterprise = "󱄛"

[username]
show_always = true
style_user = "bg:color_dark5 fg:color_fg0"
style_root = "bg:color_red1 fg:color_fg0"
format = '[ $user ]($style)'

[directory]
style = "fg:#e3e5e5 bg:#769ff0"
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = " "
"Pictures" = " "
"Developer" = "󰲋 "

[git_branch]
symbol = ""
style = "bg:#394260"
format = '[[ $symbol $branch ](fg:#769ff0 bg:#394260)]($style)'

[git_status]
style = "bg:#394260"
format = '[[($all_status$ahead_behind )](fg:#769ff0 bg:#394260)]($style)'

[nodejs]
symbol = ""
style = "bg:#212736"
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_blue)]($style)'

[c]
symbol = " "
style = "bg:#212736"
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_blue)]($style)'

[rust]
symbol = ""
style = "bg:#212736"
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_blue)]($style)'

[golang]
symbol = ""
style = "bg:#212736"
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_blue)]($style)'

[php]
symbol = ""
style = "bg:#212736"
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_blue)]($style)'

[java]
symbol = " "
style = "bg:#212736"
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_blue)]($style)'

[kotlin]
symbol = ""
style = "bg:#212736"
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_blue)]($style)'

[haskell]
symbol = ""
style = "bg:#212736"
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_blue)]($style)'

[python]
symbol = ""
style = "bg:#212736"
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_blue)]($style)'

[docker_context]
symbol = ""
style = "bg:#212736"
format = '[[ $symbol( $context) ](fg:#83a598 bg:color_bg3)]($style)'

[conda]
style = "bg:#212736"
format = '[[ $symbol( $environment) ](fg:#83a598 bg:color_bg3)]($style)'

[time]
disabled = true
time_format = "%R"                                      # Hour:Minute Format
style = "bg:#1d2230"
format = '[[  $time ](fg:#a0a9cb bg:#1d2230)]($style)'

[line_break]
disabled = false

[character]
disabled = false
success_symbol = '[](bold fg:color_green)'
error_symbol = '[](bold fg:color_red)'
vimcmd_symbol = '[](bold fg:color_green)'
vimcmd_replace_one_symbol = '[](bold fg:color_purple)'
vimcmd_replace_symbol = '[](bold fg:color_purple)'
vimcmd_visual_symbol = '[](bold fg:color_yellow)'
