configuration{
  icon-theme: "Oranchelo";
  terminal: "kitty";
  drun-display-format: "{icon} {name}";
  location: 0;
  disable-history: false;
  hide-scrollbar: true;
  sidebar-mode: true;
  modi:                       "drun";
  show-icons:                 true;
  display-drun:               "  ";
  font: "FiraCode Nerd Font Mono 14";
}

@theme "dash"
