/* ::root{ */
/*     --accent: #5291e2; */
/*     --dark: #383C4A; */
/*     --light: #7C818C; */
/*     --ld: #404552; */
/*     --dl: #4B5162 */
/*     --white: white; */
/* } */

*{
    font-family: monospace;
}

window {
    background-color: #585b70;
}

#input {
    margin: 5px;
    border-radius: 0px;
    border: none;
    border-bottom: 3px solid #11111b;
    background-color: #1e1e2e;
    color: #cdd6f4;
}

#inner-box {
    background-color: #1e1e2e;

}

#outer-box {
    margin: 5px;
    padding:20px;
    background-color: #1e1e2e;
}

#scroll {
}

#text {
padding: 5px;
color: #cdd6f4;
}

#entry:nth-child(even){
    background-color: #313244;
}

#entry:selected {
    background-color: #89b4fa;
}

#text:selected {
}
